django==4.2.10
djangorestframework==3.14.0
django-allauth==0.59.0
dj-rest-auth==5.0.2
django-environ==0.11.2
psycopg2-binary==2.9.9
django-model-utils==4.3.1
django-rest-knox==4.2.0
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1

# Models
faker==20.1.0
ulid~=1.1
ulid-py==1.1.0

# WebSocket
channels[daphne]==4.0.0
daphne==4.0.0
channels_redis==4.2.0
Twisted[tls,http2]

# QR code
Pillow==10.1.0
qrcode[PIL]==7.4.2